<%= form_with(model: [@artist, @album], local: true) do |form| %>
  <div>
    <%= form.label :title, class: 'font-bold' %>
  </div>
  <div>
    <%= form.text_field :title, class: 'border rounded rounded-r-none p-2 w-1/3 focus:border-warning outline-none' %>
  </div>
  <% if form.object.errors[:title].any? %>
    <span class="text-sm text-warning"><%= form.object.errors[:title].join(', ') %></span>
  <% end %>

  <div>
    <%= form.label :image_url, class: 'font-bold' %>
  </div>
  <div>
    <%= form.text_field :image_url, class: 'border rounded rounded-r-none p-2 w-1/3 focus:border-warning outline-none' %>
  </div>
  <% if form.object.errors[:image_url].any? %>
    <span class="text-sm text-warning"><%= form.object.errors[:image_url].join(', ') %></span>
  <% end %>

  <div class="mt-4">
    <%= form.button 'Save', class: 'border rounded b-primary bg-primary text-white px-6 py-2 cursor-pointer h-11' %>
    <button class="border rounded b-warning bg-warning text-white px-6 py-2 cursor-pointer h-11">Cancel</button>
  </div>
<% end %>